# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include include/default_my.cnf

[mysqld.1]
encrypt-binlog=1

[mysqld.2]
encrypt-binlog=1

[mysqld.3]
encrypt-binlog=1
