!include include/default_mysqld.cnf
!include include/default_client.cnf

!include rpl_1slave_base.cnf

[mysqld.1]
#innodb
early-plugin-load= @ENV.FILE_KEY_MANAGEMENT_SO
#plugin-load-add= @ENV.FILE_KEY_MANAGEMENT_SO
#TODO: Robert: Temporary dissabling
#loose-keyring_file_data= @ENV.MYSQLTEST_VARDIR/std_data/keys.txt
loose-keyring_file_data= /home/rob/keys.txt
encrypt-binlog=1
#TODO: Robert: There is no variable log-basename in MySQL
#log-basename= master
log-bin=master-bin
#relay-log-purge=0
#gtid-mode=ON
#enforce-gtid-consistency=ON

[mysqld.2]
#!use-slave-opt
#innodb
log-slave-updates
#TODO: Robert: Nie ma takiej zmiennej log-basename - u Nas log-bin
#log-basename= slave
log-bin=slave-bin
relay-log=slave-relay-bin
#encrypt-binlog=1
#relay-log-purge=0
#gtid-mode=ON
#enforce-gtid-consistency=ON

[ENV]

# We will adopt tests with master-slave setup as well as rpl_init setup,
# so need both sets of variables
MASTER_MYPORT=   @mysqld.1.port
SERVER_MYPORT_1= @mysqld.1.port
SERVER_MYSOCK_1= @mysqld.1.socket

SLAVE_MYPORT=    @mysqld.2.port
SERVER_MYPORT_2= @mysqld.2.port
SERVER_MYSOCK_2= @mysqld.2.socket
