!include my.cnf

[mysqld.1]
log-slave-updates

[mysqld.2]
early-plugin-load= @ENV.FILE_KEY_MANAGEMENT_SO
loose-keyring_file_data= /home/rob/keys2.txt
master-info-repository=TABLE
relay-log-info-repository=TABLE
log-slave-updates
encrypt-binlog=1

[mysqld.3]

log-slave-updates

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

