!include my.cnf

[mysqld.2]
early-plugin-load= @ENV.FILE_KEY_MANAGEMENT_SO
loose-keyring_file_data= /home/rob/keys.txt
log-slave-updates
log-bin=slave-bin
relay-log=slave-relay-bin
encrypt-binlog=1
master-verify-checksum=1
