!include my.cnf

[mysqld.1]
gtid-mode=on
enforce-gtid-consistency
encrypt_binlog=1
binlog-format='STATEMENT'

[mysqld.2]
early-plugin-load= @ENV.FILE_KEY_MANAGEMENT_SO
loose-keyring_file_data= /home/rob/keys2.txt
gtid-mode=on
enforce-gtid-consistency
encrypt_binlog=1
slave-sql-verify-checksum=1

